.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(10deg, #6200ff, #ee51d4 48%);
  color: white;
}

h1 {
  color: #fff;
  font-size: 24px;
}

h2 {
  margin-top: 0rem;
}

.todo-form {
  margin-bottom: 32px;
}

.login-form,
.auth-form-container,
.register-form,
.todo-form-container {
  display: flex;
  flex-direction: column;
}

.auth-form-container,
.todo-form-container {
  padding: 2rem 3rem;
  border: 0.1rem solid white;
  border-radius: 0.25rem;
}

label {
  padding: 0.25rem;
  text-align: left;
  display: inline-block;
  width: 10.75rem;
  color: rgb(255, 191, 0);
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.todo-input {
  margin-right: 0.5rem;
  width: 61%;
}

.todo-input::placeholder {
  color: #f5c0ea;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(45deg,
      rgb(71, 20, 255) 0%,
      rgb(140, 17, 255) 100%);
  padding: 16px;
  border-radius: 5px;
  height: 100px;
}

.todo-label {
  width: 50%;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}


/* all buttons */
button {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(10deg,
      #6200ff 100%,
      rgb(228, 72, 255) 0%);
  color: #fff
}

.todo-button {
  padding: 26px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(-90deg,
      rgb(255, 154, 12) 0%,
      rgb(255, 72, 215) 100%);
  color: #fff;
}

.login-btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

.todo-button,
.todo-cancel-button {
  padding: 0.5rem;
}

.todo-button {
  margin-right: 0.25rem;
  padding-top: 16px;
  padding-bottom: 16px;
}

.todo-cancel-button {
  margin-left: 2.5rem;
}

.register-btn {
  background: none;
  color: rgb(251, 223, 239);
  text-decoration: underline;
}

/* progress bar */
.progress-bar-container {
  width: 200px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #b485ff;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: #2ecc71;
  transition: width 0.5s ease-out;
}

.progress-bar-label {
  margin-top: 5px;
  font-size: 24px;
}